*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    background-color: #d2f7ef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17B292;
    box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0, 0.2);
    box-shadow: ;
    width: 100%;
    height: 15vh;
    font-family: garamond;
    color: #fff;
}

h1{
    font-size: 4em;
}

.container{
    font-family: Verdana;
    display: flex;
    width: 100vw;
    height: 70vh;
}

.left-quarter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.left-quarter img{
    width: 100%;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0, 0.2);
}

.right-quarter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.right-quarter a{
    text-decoration: none;
    color: #ffffff;
    background-color: #128c7e;
    margin-top: 1em;
    width: 50%;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 0.2em solid #ffffff;
}

.right-quarter a:hover{
    color: #ffff;
    background-color: #17B292;
    margin-top: 1em;
    width: 50%;
    border-radius: 1em;
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 1);
    transition: 1s;
}

.form-box{
    min-height: 30vh;
    width: 50%;
    border: 1px solid transparent;
    box-shadow: 0.3em 0.3em rgba(173, 132, 198, 0.5);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    color: #fff;
    background-color: #17B292;
    font-size: 1.2em;
}

.footer{
    background-color: #17B292;
    color: #fff;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.locals{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 0.5em;
    height: 15%;
    font-size: 1.3em;
}